#loadingAnim {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loadingAnim > img {
  width: 300px;
  height: auto;
  object-fit: cover;
  animation: abc 0.3s ease-in-out infinite;
}
@keyframes abc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
